.App {
  text-align: center;
  overflow-x: hidden;
  background: rgb(59,157,177);
background: linear-gradient(90deg, rgba(59,157,177,1) 14%, rgba(0,0,0,0.5241694089745272) 100%);
  
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
button:hover{
  background-color: whitesmoke;
  border: 2px solid lightblue;
}
input:focus{
  border: 2px solid orangered;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
